*.iml
.gradle/
.idea/
local.properties
app/google-services.json
build/
captures/
.externalNativeBuild/
.cxx/
app/build/
app/release/
*.jks
jks_pw.txt
__pycache__/
*.pyc
functions/node_modules/
.firebase/
firebase-debug.log
firebase-debug.*.log
